body #main {
  display: flex;
  flex-direction: column;
}
body .top-bar {
  margin: 0;
  padding: 20px;
  background-color: #7c00ac;
  color: #fff;
}
body .top-bar .title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
body .top-bar .loading {
  float: left;
}
body .top-bar .equalize {
  float: left;
}
body #content {
  display: flex;
  flex-direction: row;
  flex: 1;
}
body .left-side {
  padding: 20px;
}
body .left-side .main-image {
  cursor: pointer;
}
body .left-side .formulas {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
}
body .left-side .formulas li {
  padding: 5px 15px;
}
body .high-back {
  padding: 50px;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(50,50,50,0.5);
  text-align: center;
  z-index: 100;
}
body .child-images {
  padding: 20px 0;
  text-align: left;
  flex: 1;
}
body .child-images .children .child {
  padding: 5px;
  margin-right: 15px;
  cursor: pointer;
  min-width: 700px;
  float: left;
}
body .child-images .children .child:hover {
  background-color: #ccc;
}
body .child-images .children .child .formula {
  padding: 10px;
  font-size: 30px;
}
body .child-images .children .child .checked {
  color: #008000;
  font-size: 20px;
  padding: 0 10px 0 30px;
  width: 20px;
}

